.container{
    text-align: center;
    margin-top: 25px;
}
table{
    margin: auto;
}

input{
    border: 5px solid hsl(18, 41%, 8%);
    font-size: 30px;

}

button{
    font-size: 50px;
    background: #c8d4c7;
    width: 91px;
    height: 80px;
}

.calculator{
    background-color: rgb(26, 235, 165);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    
}

h1{
    color: #ff0000;
    
}